.headerContainer {
  display: flex;
  align-items: flex-end;  
  align-self: baseline;
  justify-content: space-between;
  border-top: 0;
  border-bottom: 1px dotted #999;
  bottom: 8px;
  position: relative;
}
@media (max-width: 949px) {
  .headerContainer {
    width: 100%;
    flex-wrap: wrap;
  }
}
