.catFilterList {
composes: DesignerFilter from '../DesignerFilter/DesignerFilter.css';
}

.filterItem {
  margin: 8px 0;
  display: block;
  position: relative;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: GillSans, "Gill Sans MT", Calibri, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1px;
  text-transform: uppercase;
}
