.ColorFilter {
  composes: catFilterList from '../CategoryFilter/CategoryFilter.css';
}

h4 {
  font-weight: 400;
  font-family: GillSans, "Gill Sans MT", Calibri, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 11px;
}

.clearFilter {
  composes: clearFilter from '../DesignerFilter/DesignerFilter.css';
}

.filterCheckbox {
composes: filterCheckbox from '../Designer/Designer.css';
}
