.productsList {
  width: 762px;
  position: relative;
  overflow: visible;
}
.productsList ul{
  display: flex;
  flex-wrap: wrap;
}

.loading {
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 949px) {
.productsList {
    width: 100%;
  }

}
