.listItem {
  width: 224px;
  height: 367px;
  display: block;
  padding-left: 30px;
  padding-bottom: 15px;
  margin-top: 20px;
  text-align: left;
  font-family: GillSans, "Gill Sans MT", Calibri, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1px;
  position: relative;
}
.listItem img{
  max-width: 100%;
  height: auto;
  }
.designer {
    font-weight: 700;
    text-transform: uppercase;
    vertical-align: baseline;
    letter-spacing: .1px;
}
.quickView {
  width: 40px;
  position: absolute;
  top:100px;
  left: 100px;
  text-align: center;
  font-size: 10px;
  color: #fff;
  background: #999;
  display: block;
}

@media (max-width: 949px) {
.listItem {
    width: 33%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  .quickView {
  display: none;
  }
}
@media (max-width: 415px) {
.listItem {
    width: 50%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
}
