.header__headerContainer___2X29a {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  border-top: 0;
  border-bottom: 1px dotted #999;
  float: none;
  clear: both;
  bottom: 8px;
  position: relative;
}
.ListViewAndSort__ListViewAndSort___1_rUA {
  flex: 1;
  align-self: baseline;
  display: flex;
}
.ListView__ListView___wOWx8 {
  font-size: 11px;
  width: 102px;
  height: 20px;
  padding: 0;
  margin-top: 1px;
  margin-right: 8px;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
}
.ListSort__sortBy___3-31j {
  font-size: 11px;
  height: 20px;
  padding: 0;
  margin-top: 2px;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
}
.ListTitleAndTotal__ListTitleAndTotal___1wrbM {
  flex: 2;
  text-align: center;
  align-self: baseline;
}

h1 {
  text-align: center;
  width: 250px;
  padding-bottom: 4px;
  padding-top: 2px;
  line-height: 21px;
  text-transform: uppercase;
  font-size: 21px;
  font-family: ModernNAP-Display, serif;
  letter-spacing: 1px;
  background-color: transparent;
  color: #000;
  min-height: 20px;
  word-wrap: break-word;
  margin: 25px auto 0;
}

.ListTitleAndTotal__resultsBox___a4Hum {

    text-align: center;
  margin-bottom: -8px;
  font-family: GillSans,"Gill Sans MT",Calibri,sans-serif;
  font-size: 14px;
}

.ListTitleAndTotal__resultsBox___a4Hum span {
  padding: 0 15px;
  color: #666;
  background-color: white;
}
.ListPagination__pagenationBox___12FKT {
  flex: 1;
  text-align: right;
  align-self: baseline;
}
.ListPagination__pagenationBoxUl___3z-0s {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0px;
}
.PageNumber__pagenationBoxLi___24FmS {
  margin-right: 10px;
  align-self: auto;
  cursor: pointer;
  font-family: GillSans, "Gill Sans MT", Calibri, sans-serif;
  font-size: 14px;
  transition: font-size 0.2s ease-in;
  -ms-transition: font-size 0.2s ease-in;
  -moz-transition: font-size 0.2s ease-in;
  -webkit-transition: font-size 0.2s ease-in;
}

.PageNumber__pagenationBoxCurrentPage___3sGk7 {
  margin-right: 5px;
  align-self: auto;
  font-family: GillSans, "Gill Sans MT", Calibri, sans-serif;
  font-size: 16px;
  transition: font-size 0.2s ease-in;
  -ms-transition: font-size 0.2s ease-in;
  -moz-transition: font-size 0.2s ease-in;
  -webkit-transition: font-size 0.2s ease-in;
}

.PageNumber__pagination-dot___3wBl0 {
  cursor: inherit;
}

.PageNumber__pagination--1___dglUQ {
  border-width: 4.5px 7.8px 4.5px 0;
  border-color: transparent #000 transparent transparent;
  margin-bottom: 5px;
  border-style: solid;
}

.PageNumber__pagination-0___1MeTq {
  border-width: 4.5px 0 4.5px 7.8px;
  border-color: transparent transparent transparent #000;
  margin-bottom: 5px;
  border-style: solid;
}
.MainBlock__MainBlock___1e6oB {
  box-sizing: border-box;
  border-bottom: 1px dotted #999;
  margin-bottom: 30px;
}
.MainBlock__clear___3DdXx {
  clear: both;
}
.DesignerFilter__DesignerFilter___16r9D {
  border-bottom: dotted 1px #000;
  padding-bottom: 18px;
  margin-bottom: 11px;
  font-family: GillSans, "Gill Sans MT", Calibri, sans-serif;
}

.DesignerFilter__DesignerFilter___16r9D h4 {
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 11px;
}

.DesignerFilter__clearFilter___3x-nn {
  position: relative;
  top: 1px;
  float: right;
  display: inline-block;
  right: 0;
  font-size: 11px;
  text-transform: none;
  font-weight: 400;
  color: #666;
  z-index: 999;
  cursor: pointer;
}

.DesignerFilter__DesignerFilter___16r9D li {
  min-height: 25px;
  display: block;
  vertical-align: baseline;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1px;
  cursor: pointer;
}

.DesignerFilter__scrollPanel___3DP0A {
  overflow-y: scroll;
  padding: 0px;
  outline: none;
  width: 183px;
  max-height: 283px;
  outline: 0;
  clear: both;
  display: block;
  height: auto;
  position: relative;
}
.Designer__noSelected___hcy9Y {}

.Designer__filterCheckbox___cQVCR {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid #C2C2C2;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-right: 4px;
  transition: transform 0.2s ease-in;
  -ms-transition: transform 0.2s ease-in;
  -moz-transition: transform 0.2s ease-in;
  -webkit-transition: transform 0.2s ease-in;
}
.Designer__filterCheckedbox___1wYrx {
  background-color: #000;
  transform: rotate(360deg);

}

.Designer__checkBox___1jKW6 {
  background-color: #000;
  color: #FFF;
  text-decoration: none;
  flex-grow: 1;
}

span {
  align-self: center;
}

.Designer__designer___1wCqj {
    line-height: 14px;
    vertical-align: top;
    display: inline-block;
    max-width: 145px;
    margin-bottom: 11px;
}
.CategoryFilter__CatFilterList___2Uekt {
}
.Category__filterItem___3F8bx {
  margin: 8px 0;
  display: block;
  position: relative;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: GillSans, "Gill Sans MT", Calibri, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1px;
  text-transform: uppercase;
  cursor: pointer;
}
.ColorFilter__ColorFilter___2v-WV {
}

h4 {
  font-weight: 400;
  font-family: GillSans, "Gill Sans MT", Calibri, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 11px;
}
.ColorFilter__clearFilter___Zzw31 {
}
.Color__clear___LKltW {
  clear: both;
}

.Color__colorName___1UfR5 {
}

.Color__colorCheckbox___O4ZwR {

}
.Color__colorCheckedbox___18jdi {

}
.SideFilter__sideFilter___itz5S {
  float: left;
width: 183px;
padding: 13px 0 0;
position: relative;
}
.Product__listItem___U9Sor {
  width: 224px;
  height: 367px;
  display: block;
  float: left;
  padding-left: 30px;
  padding-bottom: 15px;
  margin-top: 20px;
  text-align: left;
  font-family: GillSans, "Gill Sans MT", Calibri, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1px;
}
.Product__productImage___KzJRN {
    position: relative;
    height: 274px;
    padding-left: 30px;
    padding-bottom: 10px;
    margin-top: 20px;
}
.Product__productInfo___5FUW8 {
    padding-left: 30px;
}
.Product__designer___244-1 {
    font-weight: 700;
    text-transform: uppercase;
    vertical-align: baseline;
    letter-spacing: .1px;
}
.Product__quickView___q7GlA {
  width: 40px;
  position: absolute;
  top:100px;
  left: 100px;
  text-align: center;
  font-size: 10px;
  color: #fff;
  background: #999;
}
.QuickView__overlay___XnnAK {
    background-color: rgba(51, 51, 51, 0.55);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
}
.QuickView__wrap___3WmXY {
  margin: 5rem auto;
  background-color: #fff;
  width: 75%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  padding: 3%;
}

h2 {
line-height: 26px;
}
.ProductsList__productsList___11On8 {
  float: left;
  width: 762px;
  position: relative;
  overflow: visible;
}

.ProductsList__loading___fryck {
  text-align: center;
  margin-top: 50px;
}
.App__wraper___2TLPr {
  max-width: 950px;
    min-width: 950px;
    margin: 0 auto 20px
}
ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
