.header__headerContainer___2X29a {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  border-top: 0;
  border-bottom: 1px dotted #999;
  float: none;
  clear: both;
  bottom: 8px;
  position: relative;
}
.ListViewAndSort__ListViewAndSort___1VSKA {
  flex: 1;
  align-self: baseline;
  display: flex;
}
.ListView__ListView___u3qmR {
  font-size: 11px;
  width: 102px;
  height: 20px;
  padding: 0;
  margin-top: 1px;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
}
.ListTitleAndTotal__ListTitleAndTotal___naePD {
  flex: 2;
  text-align: center;
  align-self: baseline;
}

h1 {
  text-align: center;
  width: 250px;
  padding-bottom: 4px;
  padding-top: 2px;
  line-height: 21px;
  text-transform: uppercase;
  font-size: 21px;
  font-family: ModernNAP-Display, serif;
  letter-spacing: 1px;
  background-color: transparent;
  color: #000;
  min-height: 20px;
  word-wrap: break-word;
  margin: 25px auto 0;
}

.ListTitleAndTotal__resultsBox___byQUm {

    text-align: center;
  margin-bottom: -8px;
  font-family: GillSans,"Gill Sans MT",Calibri,sans-serif;
  font-size: 14px;
}

.ListTitleAndTotal__resultsBox___byQUm span {
  padding: 0 15px;
  color: #666;
  background-color: white;
}
.ListPagination__pagenationBox___LvNak {
  flex: 1;
  text-align: right;
  align-self: baseline;
}
.ListPagination__pagenationBoxUl___2hDy2 {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0px;
}
.PageNumber__pagenationBoxLi___3n8kB {
margin-right: 10px;
align-self: auto;
cursor: pointer;
}
.PageNumber__pagenationBoxCurrentPage___351I0 {
margin-right: 5px;
align-self: auto;
font-size: 18px;
line-height: 18px;
}
.PageNumber__pagination-dot____D911 {
  cursor: inherit;
}
.PageNumber__pagination--1___UOAIt {
    border-width: 4.5px 7.8px 4.5px 0;
    border-color: transparent #000 transparent transparent;
    margin-bottom: 5px;
    border-style: solid;
}

.PageNumber__pagination-0___85lF_ {
    border-width: 4.5px 0 4.5px 7.8px;
    border-color: transparent transparent transparent #000;
    margin-bottom: 5px;
    border-style: solid;
}
.MainBlock__MainBlock___1e6oB {
  color: red;
  text-align: center;
}
.DesignerFilter__DesignerFilter___3FBGL {
  border-bottom: dotted 1px #000;
  padding-bottom: 18px;
  margin-bottom: 11px;
  font-family: GillSans, "Gill Sans MT", Calibri, sans-serif;
}

.DesignerFilter__DesignerFilter___3FBGL h4 {
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 11px;
}

.DesignerFilter__clearFilter___2nQIS {
  position: relative;
  top: 1px;
  float: right;
  display: inline-block;
  right: 0;
  font-size: 11px;
  text-transform: none;
  font-weight: 400;
  color: #666;
  z-index: 999;
}

.DesignerFilter__DesignerFilter___3FBGL li {
  min-height: 25px;
  display: block;
  vertical-align: baseline;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1px;
  cursor: pointer;
}

.DesignerFilter__scrollPanel___3TGuf {
  overflow-y: scroll;
  padding: 0px;
  outline: none;
  width: 183px;
  max-height: 283px;
  outline: 0;
  clear: both;
  display: block;
  height: auto;
  position: relative;
}
.Designer__noSelected___21d7q {}

.Designer__filterCheckbox___12kKV {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid #C2C2C2;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-right: 4px;
}

.Designer__checkBox___3WEkk {
  background-color: #000;
  color: #FFF;
  text-decoration: none;
  flex-grow: 1;
}

span {
  align-self: center;
}

.Designer__designer___31lDV {
    line-height: 14px;
    vertical-align: top;
    display: inline-block;
    max-width: 145px;
    margin-bottom: 11px;
}
.CategoryFilter__catFilterList___2QLR5 {
}

.CategoryFilter__filterItem___3n0HQ {
  margin: 8px 0;
  display: block;
  position: relative;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: GillSans, "Gill Sans MT", Calibri, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1px;
  text-transform: uppercase;
}
.ColorFilter__ColorFilter___1HvdL {
}

h4 {
  font-weight: 400;
  font-family: GillSans, "Gill Sans MT", Calibri, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 11px;
}

.ColorFilter__clearFilter___3Fkyo {
}

.ColorFilter__filterCheckbox___3l9Pn {
}
.ColorFilter__colorName___2hrbD {
}
.SideFilter__sideFilter___FacSz {
  float: left;
width: 183px;
padding: 13px 0 0;
position: relative;
}
.Product__listItem___342Zi {
  width: 224px;
  height: 367px;
  display: block;
  float: left;
  padding-left: 30px;
  padding-bottom: 15px;
  margin-top: 20px;
  text-align: left;
  font-family: GillSans, "Gill Sans MT", Calibri, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1px;
}
.Product__productImage___15OeF {
    position: relative;
    height: 274px;
    padding-left: 30px;
    padding-bottom: 10px;
    margin-top: 20px;
}
.Product__productInfo___9lGi8 {
    padding-left: 30px;
}
.Product__designer___2bZAh {
    font-weight: 700;
    text-transform: uppercase;
    vertical-align: baseline;    
    letter-spacing: .1px;
}
.ProductsList__productsList___29beS {
  float: left;
  width: 762px;
  position: relative;
  overflow: visible;
}
.App__wraper___2TLPr {
  max-width: 950px;
    min-width: 950px;
    margin: 0 auto 20px
}
ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
