.wraper {
  max-width: 950px;
    margin: 0 auto 20px
}
ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 949px) {
  .wraper {
    width: 94%;
    margin: 0 auto 20px
  }
}
