.ListTitleAndTotal {
  order: 2;
  text-align: center;
  align-self: baseline;
}

h1 {
  text-align: center;
  width: 250px;
  padding-bottom: 4px;
  padding-top: 2px;
  line-height: 21px;
  text-transform: uppercase;
  font-size: 21px;
  font-family: ModernNAP-Display, serif;
  letter-spacing: 1px;
  background-color: transparent;
  color: #000;
  min-height: 20px;
  word-wrap: break-word;
  margin: 25px auto 0;
}

.resultsBox {

    text-align: center;
  margin-bottom: -8px;
  font-family: GillSans,"Gill Sans MT",Calibri,sans-serif;
  font-size: 14px;
}

.resultsBox span {
  padding: 0 15px;
  color: #666;
  background-color: white;
}
@media (max-width: 949px) {
  .ListTitleAndTotal {
    order: 1;
    width: 100%;
    margin-bottom: 10px;
  }
}
